@model ProductViewModel
@{
    ViewData["Title"] = Model.Name;
}

<section class="container py-4 my-5">
    <article class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div id="carouselProductosPrincipales" class="carousel slide">
                <div class="carousel-inner">                  
                    @foreach(string imageSource in Model.ImageUrl)
                    {
                        <div class="carousel-item active">
                            <img src="@imageSource"
                                    class="d-block img-fluid object-fit-cover mx-auto"
                                    alt="pcRyzen5a" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselProductosPrincipales"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselProductosPrincipales"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card h-100">
                <div class="card-body bg-dark text-light d-flex flex-column">
                    <h5 class="card-title text-center">@Model.Name</h5>
                    <p class="card-text">
                        @Model.Description
                    </p>
                    <div class="text-end mt-auto">
                        <h5 class="ms-auto">Precio (USD): @Model.Price</h5>
                        <h5 class="ms-auto">Precio (BRL): @Model.ConvertedPrice</h5>
                        <a href="./error404.html" class="btn btn-success bg-light text-dark w-50 btnCart ms-auto">Añadir al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<section>
    <div class="container py-4">
        <h4>Comentarios</h4>
        <article class="row justify-content-center img-fluid object-fit-cover">
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <div class="card-body text-light">
                        <h5 class="card-title text-center">
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                        </h5>
                        <p class="card-text">
                            Exactamente lo que buscaba.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <div class="card-body text-light">
                        <h5 class="card-title text-center">
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-regular fa-star starColor"></i>
                        </h5>
                        <p class="card-text">
                            Más o menos los parlantes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <div class="card-body text-light">
                        <h5 class="card-title text-center">
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star-half-stroke starColor"></i>
                        </h5>
                        <p class="card-text">
                            Pedí un monitor mas grande y no había en stock.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

@*<section class="container py-4 my-5">
    <article class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div id="carouselProductosPrincipales" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/pcRyzen5a.png"
                             class="d-block img-fluid object-fit-cover mx-auto"
                             alt="pcRyzen5a" />
                    </div>
                    <div class="carousel-item">
                        <img src="../img/pcRyzen5b.png"
                             class="d-block img-fluid object-fit-cover mx-auto"
                             alt="pcRyzen5b" />
                    </div>
                    <div class="carousel-item img-fluid object-fit-cover">
                        <img src="../img/pcRyzen5c.png"
                             class="d-block img-fluid object-fit-cover mx-auto"
                             alt="pcRyzen5c" />
                    </div>
                </div>
                <button class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselProductosPrincipales"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselProductosPrincipales"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card h-100">
                <div class="card-body bg-dark text-light d-flex flex-column">
                    <h5 class="card-title text-center">PC AMD Ryzen 5</h5>
                    <p class="card-text">
                        <ul>
                            <li>Procesador AMD Ryzen 5 4600G</li>
                            <li>Memoria RAM 16 GB</li>
                            <li>Disco duro 1 TB</li>
                            <li>Gráficos AMD Radeon Vega 7</li>
                            <li>Monitor Led 20" HDMI</li>
                            <li>Teclado mecánico</li>
                        </ul>
                    </p>
                    <div class="text-end mt-auto">
                        <h5 class="ms-auto">Precio: $728.499</h5>
                        <a href="./error404.html" class="btn btn-success bg-light text-dark w-50 btnCart ms-auto">Añadir al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<section>
    <div class="container py-4">
        <h4>Comentarios</h4>
        <article class="row justify-content-center img-fluid object-fit-cover">
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <div class="card-body text-light">
                        <h5 class="card-title text-center">
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                        </h5>
                        <p class="card-text">
                            Exactamente lo que buscaba.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <div class="card-body text-light">
                        <h5 class="card-title text-center">
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-regular fa-star starColor"></i>
                        </h5>
                        <p class="card-text">
                            Más o menos los parlantes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <div class="card-body text-light">
                        <h5 class="card-title text-center">
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star starColor"></i>
                            <i class="fa-solid fa-star-half-stroke starColor"></i>
                        </h5>
                        <p class="card-text">
                            Pedí un monitor mas grande y no había en stock.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>*@